body {
    background: #e9faff;
    color: #555555;
}

.shard {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

#fountain-img-input {
    display: inline-block;
}

.fountain-img-cont {
    text-align: center;
}

.fountain-img {
    max-width: 70%;
    max-height: 400px;
    margin-bottom: 1em;
}

.school-list {width: 100%;}
#other-school-name {width: 100%;}
#other-school-addr {width: 100%;}
#other-school-pop {width: 100%;}
#set-school-btn {width: 100%;}
#rate-btn {width: 100%;}

.school-left {float: left;}
.school-right {float: right;}
.drink-left {float: left;}
.drink-right {float: right;}
.clean-left {float: left;}
.clean-right {float: right;}