<template name="fountain">
    <div class="shard">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="fountain-date">
                    Fountain {{addOne _idx}} at {{fmtDate}}
                </h4>
            </div>
            <div class="col-xs-12">
                {{#if imageObj.isUploaded}}
                    <div class="fountain-img-cont">
                        <a href="{{pathFor 'fountainPage' data=fpData}}">
                            <img class="fountain-img"
                                 src="{{imageObj.url}}">
                        </a>
                    </div>
                {{else}}
                    Uploading...
                {{/if}}
            </div>
            <div class="col-xs-12">
                <span class="drink-left">
                    <b>% who would drink:</b>
                </span>
                <span class="drink-right">
                    {{drinkPercent}}
                </span>
            </div>
            <div class="col-xs-12">
                <span class="clean-left">
                    <b>Cleanliness rating:</b>
                </span>
                <span class="clean-right">
                    {{fmtRating}}
                </span>
            </div>
            <div class="col-xs-12">
                Click to rate this fountain or add your own picture!
            </div>
        </div>
    </div>
</template>