<template name="fountainPage">
    <div class="shard">
        <div class="row">
            <div class="col-12-xs">
                {{#if imageObj.isUploaded}}
                    <div class="fountain-img-cont">
                        <img class="fountain-img"
                             src="{{imageObj.url}}">
                    </div>
                {{else}}
                    Uploading...
                {{/if}}
            </div>
        </div>
        <div class="row">
            {{#if schoolName}}
                <div class="col-xs-12">
                    <span class="school-left">
                        <b>School:</b>
                    </span>
                    <span class="school-right">
                        {{schoolName}}
                    </span>
                </div>
                <div class="col-xs-12">
                    <span class="drink-left">
                        <b>Would you drink from this?</b>
                    </span>
                    <span class="drink-right">
                        <input type="radio" id="drink-yes"> Yes
                        <input type="radio" id="drink-no"> No
                    </span>
                </div>
                <div class="col-xs-12">
                    <span class="clean-left">
                        <b>Cleanliness rating:</b>
                    </span>
                    <span class="clean-right">Average</span>
                    <input type="range" id="cleanliness-rating"
                           min="0" max="50">
                </div>
                <div class="col-xs-12">
                    <input type="submit" id="rate-btn" value="Rate">
                </div>
            {{else}}
                <div class="col-xs-12">
                    <select class="school-list" id="school-list">
                        <option value="_EMPTY">--- School name ---</option>
                        {{#each schoolList}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                        <option value="_OTHER">Add new school</option>
                    </select>
                </div>
                <div id="other-school-cont" style="display: none">
                    <div class="col-xs-12">
                        <input type="text" id="other-school-name"
                               placeholder="Other school name">
                    </div>
                    <div class="col-xs-12">
                        <input type="number" id="other-school-pop"
                               placeholder="Approx. population"
                               min="1" max="50000">
                    </div>
                    <div class="col-xs-12">
                        <input type="address" id="other-school-addr"
                               placeholder="Address">
                    </div>
                </div>
                <div class="col-xs-12">
                    <input type="submit" id="set-school-btn"
                           value="Set school">
                </div>
            {{/if}}
        </div>
    </div>
</template>