<template name="schoolPage">
    <div class="shard">
        <div class="row">
            <div class="col-xs-12">
                <h4>{{name}}</h4>
            </div>
            <div class="col-xs-12">
                <span class="glyphicon glyphicon-map-marker"
                      aria-hidden="true"></span>
                <i>{{address}}</i>
            </div>
            <div class="col-xs-12 col-sm-4">
                <b>Total # students:</b> {{population}}
            </div>
            <div class="col-xs-12 col-sm-4">
                <b>Avg fountain rating:</b>
                <br class="hidden-xs">
                {{fmtRating}}
            </div>
            <div class="col-xs-12 col-sm-4">
                <b># water fountains:</b>
                {{numFountains}}
            </div>
        </div>
    </div>

    {{#each fountainObjs}}
        {{> fountain}}
    {{else}}
        <div class="row">
            <div class="col-xs-12">
                Be the first to add a water fountain photo!
            </div>
        </div>
        <br>
    {{/each}}

    {{#if canDelete}}
        <div class="shard">
            <div class="row">
                <div class="col-xs-12">
                    <input type="button" class="delete-btn"
                           value="Delete school">
                </div>
            </div>
        </div>
    {{/if}}

    {{> newFountainForm}}
</template>