<template name="schoolPage">
    <div class="shard">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{school.name}}</h3>
            </div>
            <div class="col-xs-12 col-sm-4">
                <b>Total # students:</b> {{school.population}}
            </div>
            <div class="col-xs-12 col-sm-4">
                <b>Avg fountain rating:</b>
                <br class="hidden-xs">
                {{school.fmtRating}} ({{school.fmtNumRatings}})
            </div>
            <div class="col-xs-12 col-sm-4">
                <b># fountain pictures:</b>
                {{school.numFountains}}
            </div>
        </div>
    </div>
    {{#each fountainPics}}
        {{> fountain}}
    {{/each}}
</template>