<template name="schoolPage">
    <div class="shard">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{name}}</h3>
            </div>
            <div class="col-xs-12 col-sm-4">
                <b>Total # students:</b> {{population}}
            </div>
            <div class="col-xs-12 col-sm-4">
                <b>Avg fountain rating:</b>
                <br class="hidden-xs">
                {{fmtRating}} ({{fmtNumRatings}})
            </div>
            <div class="col-xs-12 col-sm-4">
                <b># fountain pictures:</b>
                {{numFountains}}
            </div>
        </div>
    </div>

    {{#each fountainObjs}}
        {{> fountain}}
    {{else}}
        <div class="row">
            <div class="col-xs-12">
                Be the first to add a water fountain photo!
            </div>
        </div>
        <br>
    {{/each}}

    {{> newFountainForm}}
</template>